@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');



/*Heading*/

body {
    background: -moz-linear-gradient(top, #202E63 0%, #5E729A 100%);
    background: -webkit-linear-gradient(top, #202E63 0%, #5E729A 100%);
    background: linear-gradient(to bottom, #202E63 0%, #5E729A 100%);
}

.heading {
    text-align: center;
    margin-top: 5%;
}
.timer h2 {
    display: inline-block;
    color: #936124;
    text-transform: UPPERCASE;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 30px;
}

.fa-regular.fa-star {
    color: rgb(202, 162, 70);
}

.heading h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-shadow: -1px -1px 0 #000, 5px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: rgb(254 254 252);
}
.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.heading :hover {
    text-shadow: -1px -1px 0 #CAA246, 1px -1px 0 #CAA246, -1px 1px 0 #CAA246, 1px 1px 0 #CAA246;
    color: rgb(254 254 252);
}
/*Style Countdown Clock*/
.timer{
    background-image: url(../images/pexels-waldemar-5550130.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -90px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 0 25% 0 25%;
    border-radius: 5px 5px 0 0;
}
#day{
    color: #000000;
    height: 50px;
    width: 50px;
    font-size: 1rem;
    margin: 20px 2px 20px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgba(202, 162, 70, 0.8);
    background: rgb(255, 255, 255, 0.8);
    font-family: 'Josefin Sans';
    pointer-events: none;
}
#hour{
    color: #000000;
    height: 50px;
    width: 50px;
    font-size: 1rem;
    margin: 20px 2px 20px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgba(202, 162, 70, 0.8);
    background: rgb(255, 255, 255, 0.8);
    font-family: 'Josefin Sans';
    pointer-events: none;
}
#minute{
    color: #000000;
    height: 50px;
    width: 50px;
    font-size: 1rem;
    margin: 20px 2px 20px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgba(202, 162, 70, 0.8);
    background: rgb(255, 255, 255, 0.8);
    font-family: 'Josefin Sans';
    pointer-events: none;
}
#second{
    color: #000000;
    height: 50px;
    width: 50px;
    font-size: 1rem;
    margin: 20px 2px 20px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgba(202, 162, 70, 0.8);
    background: rgb(255, 255, 255, 0.8);
    font-family: 'Josefin Sans';
    pointer-events: none;
}

/* Boxes for User Inputs and Correct Answer*/
#user-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#user-input input {
    color: #000000;
    height: 30px;
    width: 40px;
    font-size: 1.2rem;
    margin: 20px 2px 20px;
    text-align: center;
}
#user-input h3 {
    margin-right: 30px;
    color: rgb(202, 162, 70);
    font-family: 'Josefin Sans', sans-serif;
}

#correct-answer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#correct-answer input {
    color: #806956;
    height: 30px;
    width: 40px;
    font-size: 1.2rem;
    margin: 20px 2px 20px;
    text-align: center;

}
#correct-answer-header {
    color: rgb(202, 162, 70);
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: unset;
}

.vertical-line {
    border-left: 2px solid #f29793;
    height: 35px;
    margin: 0 5px 0 5px;
}
/*Each button active class created in .js*/
.active{
    background-color: #CAA246;
}

/* overwrite bootsrap class */
.card-body {
    background: rgba(255, 255, 255, 0.8);
}



/*Structure for the Euromillion buttons*/

.structure {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 0 25% 0 25%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 5px 5px;
}

.pick h2 {
    text-align: center;
    color: #806956;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

div .pick {
    height: 100%;
    width: 100%;
}

div .picktwo {
    height: 100%;
    width: 100%;
}

/*Inside structure- Buttons style*/

.pick div {
    margin: 5% 10%;
    height: 100%;
}

#fifty-buttons {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#fifty-buttons button {
    margin: 4px;
    border-radius: unset;
    border: 2px solid #f29793;
    background: #ffffff;
    color: #e83d30;
    font-weight: 900;
    line-height: 1.5;
    width: 35px;
    cursor: pointer;
}

.picktwo div {
    margin: 5% 10%;
    height: 100%;

}

#twelve-buttons {
    display: flex;
    text-align: center;
    vertical-align: middle;
    flex-wrap: wrap;
    justify-content: center;
}

#twelve-buttons button {
    margin: 4px;
    border-radius: unset;
    border: 2px solid #f29793;
    background: #ffffff;
    color: #e83d30;
    font-weight: 900;
    line-height: 1.5;
    width: 35px;
}

/*Submit button*/
.submit-button {
    text-align: center;
}

.submit-button button {
    border: 1px solid;
    border-radius: 5%;
    background-color: rgba(202, 162, 70, 1);
    width: auto;
    margin: 2px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.reset {
    text-align: center;
}
#reset-button {
    font-size: 25px;
    border: unset;
    background-color: unset;
    cursor: pointer;
    color: #806956;
    margin: 15px 0px;
}
#reset-button:hover{
    color: rgba(202, 162, 70, 0.7);
}

.submit-button button:hover {
    background-color: rgba(202, 162, 70, 0.7);
}

@media (min-width: 1281px){
    .timer{
        margin: 0 30%;
        background-position-y: unset;
    }
    .structure{
        margin: 0 30%;
    }
    .pick h2{
        margin-bottom: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .timer{
        margin: 0 20%;
        background-position-y: unset;
    }
    .structure{
        margin: 0 20%;
    }
    .pick div {
        margin: 5% 15%;
    }
    .pick h2{
        margin-bottom: 0;
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .timer{
        margin: 0 15%;
        background-position-y: unset;
        height: 170px;
    }
    .timer h2{
        margin-bottom: 0;
    }
    .structure{
        margin: 0 15%;
    }
    .pick div {
        margin: 5% 12%;
    }
    .pick h2{
        margin-bottom: 0;
    }

}


@media (min-width: 481px) and (max-width: 767px){
    .heading h1{
        font-size: 50px;
    }
    .timer{
        margin: 0 5%;
        background-position-y: unset;
        height: 140px;
    }
    .timer h2{
        font-size: 25px;
        margin-bottom: 0;
    }
    #day{
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
    #hour{
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
    #minute{
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
    #second{
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
    .structure{
        margin: 0 5%;
    }
    #user-input input {
        height: 25px;
        width: 30px;
        font-size: 1rem;
        margin: 20px 10px 20px;
    }
    #correct-answer input {
        height: 25px;
        width: 30px;
        font-size: 1rem;
        margin: 20px 10px 20px;
    }
    .pick div {
        margin: 5% 5%;
    }
    .pick h2{
        margin-bottom: 0;
    }

}

@media (min-width: 320px) and (max-width: 480px){
    .heading h1{
        font-size: 35px;
    }
    .timer{
        margin: 0 1%;
        background-position-y: unset;
        height: 140px;
    }
    .timer h2{
        font-size: 25px;
        margin-bottom: 0;
    }
    #day{
        height: 40px;
        width: 40px;
        font-size: 13px;
    }
    #hour{
        height: 40px;
        width: 40px;
        font-size: 13px;
    }
    #minute{
        height: 40px;
        width: 40px;
        font-size: 13px;
    }
    #second{
        height: 40px;
        width: 40px;
        font-size: 13px;
    }
    .structure{
        margin: 0 1%;
    }
    #user-input input {
        height: 25px;
        width: 30px;
        font-size: 1rem;
        margin: 20px 8px 20px;
    }
    #correct-answer input {
        height: 25px;
        width: 30px;
        font-size: 1rem;
        margin: 20px 8px 20px;
    }
    .pick div {
        margin: 3% 1%;
    }
    .pick h2{
        margin-bottom: 0;
    }
    #fifty-buttons button {
        margin: 6px;
        width: 45px;

    }

}